<div class="events-comp">
  <div class="events-comp-wrapper">
    <app-header></app-header>
    <app-chat></app-chat>
    <app-sidebar></app-sidebar>
    <main>
      <h1>Events</h1>
<!--      <div class="container-fluid">-->
<!--        <div class="row">-->
<!--          <div class="col-md-4" *ngFor="let event of events | async">-->
<!--            <div class="card">-->
<!--              <div class="card-body">-->
<!--                <a routerLink="/events/{{event.id}}">{{event.title}}</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </main>
  </div>
</div>
