<div class="events-comp">
  <div class="events-comp-wrapper">
    <app-header></app-header>
    <app-chat></app-chat>
    <app-sidebar></app-sidebar>
    <main>
      <div class="top-main-details d-flex align-items-center">
        <span class="page-item-link">Events</span>
        <div class="breadcrumbs">
          <img src="./assets/img/home/home.svg" alt="" class="breadcrumb-home">
          <span class="breadcrumbs-separator">-</span>
          <span class="breadcrumbs-link"><a routerLink="/events">EVENTS</a></span>
        </div>
      </div>
      <div class="main-inner" *ngIf="newEvents && newEvents.data">
        <h1>Upcoming Events</h1>
        <div *ngFor="let item of newEvents.data; let num = index;" class="single-event">
          <div class="event-item">0{{num+1}}</div>
          <div class="event-header-items row">
            <div class="date col-md-3">
              <span class="start-date">{{item.attributes[1].value | amDateFormat:'MMMM D' }}</span>
              -
              <span class="end-date">{{item.attributes[3].value | amDateFormat:'MMMM D, YYYY' }}</span>
            </div>
            <div class="program col-md-3">
              <span>Program</span>
            </div>
          </div>
          <div class="event-body-items row">
            <div class="information col-md-3">
              <div class="event-name">{{item.name}}</div>
              <div class="event-description">{{item.attributes[5].value != '&nbsp;' ? item.attributes[5].value : 'Welcome to the most exclusive Digital Fashion Event of the year!'}}</div>
              <a target="_blank" href="{{item.attributes[6].value ? '//'+item.attributes[6].value : '#' }}"
                 class="event-register-button">Register now</a>
            </div>
            <div class="program col-md-3">
              <div class="single-program">
                <p class="program-date">October 22nd 2020</p>
                <p class="program-name">NEXT TEXTILE Opening Conference</p>
              </div>
              <div class="single-program">
                <p class="program-date">October 22nd - November 6th 2020</p>
                <p class="program-name">Sourcing & Inspiration Material Showcase</p>
              </div>
              <div class="single-program">
                <p class="program-date">November 2nd - November 6th 2020</p>
                <p class="program-name">Digital Fashion Week</p>
              </div>
            </div>
            <div class="event-image col-md-3">
              <div class="event-image-overlay">
                <img src="./assets/img/events/no_image.jpg" alt="">
              </div>
              <a [routerLink]="['/events/'+item.id]" class="view-more">View more <img src="./assets/img/events/arrow-right.svg" alt="arrow-right"></a>
            </div>
          </div>

        </div>
      </div>
    </main>
  </div>
</div>
