.app-sidebar {
  width: 70px;
  background-color: #fff;
  height: 100vh;
  padding: 10px;
  box-shadow: 10px 0px 20px rgba(102, 102, 102, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
